#header-root {
  width: 100vw;
  height: $header-height;
  background-color: $green;
  position: fixed;
  top: 0;
  z-index: 10;

  .header-logo-img {
    @include no-select;
    cursor: pointer;
    width: 50px;
    top: 5px;
    left: 5px;
    position: absolute;
  }

  .header-logo {
    @include header-text;
    @include no-select;
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: left;



    @media (min-width: $portrait-tablet-to-landscape-and-desktop-min-width){
      width: 400px;
      top: 7.5px;
      left: 55px;

    }
    @media (min-width: $large-desktop-min-width){

    }
  }

  @media (min-width: $landscape-phone-and-below-max-width + 1) and (max-width: $landscape-phone-to-portrait-tablet-max-width){
    height: $mobile-header-height;

    .header-logo-img{
      left: -5px;
      top: 0px;
    }

    .header-logo {
      width: 300px;
      font-size: 35px;
      left: 40px;
      top: 5px;
      text-align: left;
    }
  }

  @media (max-width: $landscape-phone-and-below-max-width){
    height: $mobile-header-height;

    .header-logo-img{
      left: -5px;
      top: 0px;
    }

    .header-logo {
      width: 300px;
      font-size: 35px;
      left: 40px;
      top: 5px;
      text-align: left;
    }
  }



}