#header-root {
  width: 100vw;
  height: $header-height;
  background-color: $green;
  position: absolute;
  top: 0;
  z-index: $header-and-footer-index;
  overflow-y: hidden;

  .header-logo-img {
    @include no-select;
    cursor: pointer;
    width: 50px;
    top: 5px;
    left: 5px;
    position: absolute;
  }

  .header-logo {
    @include header-text;
    @include no-select;
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  #header-menu-span {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px;

    #header-menu{
      color: $white;
      font-size: 40px;

    }

  }

  #sign-in-register-header-buttons-container{
    position: absolute;
    right: 5px;
    top: 10px;

    button {
      background-color: $white;
      color: $green;
    }

  }


  #sign-in-header-buttons-container{
    position: absolute;
    right: 5px;
    top: 10px;

    button {
      background-color: $white;
      color: $green;
    }
  }



  @media (max-width: $landscape-phone-and-below-max-width){
    height: $mobile-header-height;

    #sign-in-register-header-buttons-container{
      top: $mobile-header-height - 10px;
      text-align: center;
      left: 0;
      right: 0;
      width: 100%;

      button {
        height: 25px;
        width: 43%;
      }
    }

    #sign-in-header-buttons-container{
      right: 5px;
      top: $mobile-header-height - 10px;
      width: 100%;
      text-align: right;

      button {
        height: 25px;
        width: 33%;

        background-color: $white;
        color: $green;
      }
    }

    .header-logo-img{
      left: -5px;
      top: 0px;
    }

    .header-logo {
      width: 250px;
      font-size: 30px;
      left: 40px;
      top: 7px;
      text-align: left;
    }

    #header-menu-span {
      position: absolute;
      right: 10px;
      top: 10px;
      height: 30px;
      width: 30px;

      #header-menu{
        color: $white;
        font-size: 30px;

      }
    }
  }

  @media (min-width: $landscape-phone-and-below-max-width + 1) and (max-width: $landscape-phone-to-portrait-tablet-max-width){
    height: $mobile-header-height;

    #sign-in-register-header-buttons-container{
      top: 5px;
    }

    .header-logo-img{
      left: -5px;
      top: 0px;
    }

    .header-logo {
      width: 300px;
      font-size: 35px;
      left: 40px;
      top: 5px;
      text-align: left;
    }

    #header-menu-span {
      position: absolute;
      right: 10px;
      top: 10px;
      height: 35px;
      width: 35px;

      #header-menu{
        color: $white;
        font-size: 35px;

      }
    }
  }

  @media (min-width: $portrait-tablet-to-landscape-and-desktop-min-width){
    #sign-in-register-header-buttons-container{
      top: 5px;
    }

    .header-logo {
      width: 400px;
      top: 7.5px;
      left: 55px;
    }
    #header-menu-span {
      position: absolute;
      right: 10px;
      top: 10px;
      height: 40px;
      width: 40px;

      #header-menu{
        color: $white;
        font-size: 40px;

      }
    }

  }
  @media (min-width: $large-desktop-min-width){

  }
}



.signed-out-header {
  @media (max-width: $landscape-phone-and-below-max-width){
    height: $mobile-header-height + 25px !important;
  }
}



