#nutrition-console-root {
  width: $nutrition-console-width;
  height: calc(100% - #{$header-height});
  display: block;
  position: absolute;
  top: $header-height;
  left: 0;
  border-right: $gray-border;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;



  @media(max-width: $landscape-phone-to-portrait-tablet-max-width) {
    top: $mobile-header-height;
    border-right: none;
    height: calc(100% - #{$mobile-header-height} - #{$mobile-footer-height});

  }

  @media (max-width: $portrait-tablet-to-landscape-and-desktop-min-width){
    width: 100vw;
    border-right: none;
  }

  .mx-console{
    padding-top: 5px;
    border-bottom: $black-border;
  }

  #nutrients-console-root{
    padding-top: 5px;
    @media (max-height: $safari-browser-height) {    //ios safari fix for web browser height being larger than visible screen
      padding-bottom: $safari-bottom-pad + 20px;
    }
    padding-bottom: 20px;
  }

}
