#nutrition-console-root {
  width: $nutrition-console-width;
  height: 100%;
  display: block;
  position: absolute;
  top: $header-height;
  left: 0;
  border-right: $gray-border;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;



  @media(max-width: $landscape-phone-to-portrait-tablet-max-width) {
    top: $mobile-header-height;
    border-right: none;
  }

  @media (max-width: $portrait-tablet-to-landscape-and-desktop-min-width){
    width: 100vw;
    border-right: none;
  }

  .mx-console{
    border-bottom: $black-border;
  }



}
