#content-root{
  width: 100vw;
  height: 100%;
  display: inline;


  #mobile-content{
    display: none;
    @media (max-width: $landscape-phone-and-below-max-width){
      display: block;
    }
  }

  #tablet-and-above-content{
    display: block;
    @media (max-width: $landscape-phone-and-below-max-width){
      display: none;
    }
  }

}
