.label {
  @include bold-font;
  text-align: right;
  width: 120px;
  margin-right: 5px;
  display: inline-block;
}

.data-label {
  font-weight: normal;
  text-align: left;
  width: 50px;
  display: inline-block;
}

.number-label {
  text-align: right;
  margin-left: -15px;
  width: 50px;
}

.heading {
  font-family: $header-font;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}

.select {
@include bold-font;
  margin-left: 5px;
  option{
    @include bold-font;
  }
}

.input {
 @include input;
}

.inline-input-container{
  width: 350px;
  margin: auto;
  text-align: left;
  margin-top: 5px;
}

.inline-button-container {
  display: block;
}

.button {
  @include button;
}

.inline-button {
  display: inline;
}

.label-data-array-display-container {
  margin: auto;
  margin-bottom: 5px;
}


#invisible-full-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 15;
}