#actions-console-root {
  width: calc(100vw - #{$nutrition-console-width});
  height: 100vh;
  display: block;
  position: absolute;
  right: 0;
  top: $header-height;
  border-left: $gray-border;
  background-color: #11AA99;

  @media(max-width: $landscape-phone-to-portrait-tablet-max-width) {
    top: $mobile-header-height;
    width: 100vw;
    border-left: none;
  }

  @media (max-width: $portrait-tablet-to-landscape-and-desktop-min-width) {
    width: 100vw;
    border-left: none;
  }


}