#actions-console-root {
  width: calc(100vw - #{$nutrition-console-width});
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: $header-height;
  border-left: $gray-border;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;

  #actions-back-button-span {
    @include icon-span;
    position: absolute;
    left: 10px;
    top: 10px;

  }

  #actions-back-button {
    @include icon;
    margin-top: -2px;
  }


  @media(max-width: $landscape-phone-to-portrait-tablet-max-width) {
    top: $mobile-header-height;
    width: 100vw;
    border-left: none;
  }

  @media (max-width: $portrait-tablet-to-landscape-and-desktop-min-width) {
    width: 100vw;
    border-left: none;
  }


}