.single-line-modal {
  margin: 10px 0 5px 0;
}

.modal-top-line{
  margin: 10px 0 0 0;

}

.sign-in-label {
  width: 42%;

}

.forgot-password-label {
  width: 35%;
}

.weigh-in-label {
  width: 50%;
}

.weigh-in-input {
  width: 10%;
  text-align: center;

}

.weigh-in-extra-data {
  width: 10%;
  text-align: left;
  margin-left: 2px;
}

.modal-content {
  margin-bottom: 5px;
}

.error-header {
  background-color: $red !important;
}