/* helpers */
@import 'sass-helpers/fonts';
@import 'sass-helpers/variables';
@import 'sass-helpers/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: $white;
}

/* sass files */
@import 'content/common/_common';
@import 'content/common/ProgressBar/RegularProgressBar/ProgressBar';
@import 'content/common/ProgressBar/RegularProgressBar/SliderBar/_SliderBar';
@import 'content/common/ProgressBar/MiniProgressBar/_MiniProgressBar';
@import 'content/common/ProgressBar/MiniProgressBar/MiniSliderBar/_MiniSliderBar';

@import 'content/App';
@import 'content/components/Header/_Header';
@import 'content/components/Footer/_Footer';
@import 'content/components/Content/_Content';
@import 'content/components/Content/NutritionConsole/_NutritionConsole';
@import 'content/components/Content/ActionsConsole/_ActionsConsole';

