/* helpers */
@import 'sass-helpers/fonts';
@import 'sass-helpers/variables';
@import 'sass-helpers/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

#root {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
  background-color: $white;


}

/* sass files */
@import 'content/common/_common';
@import 'content/common/ProgressBar/RegularProgressBar/_ProgressBar';
@import 'content/common/ProgressBar/RegularProgressBar/SliderBar/_SliderBar';
@import 'content/common/ProgressBar/MiniProgressBar/_MiniProgressBar';
@import 'content/common/ProgressBar/MiniProgressBar/MiniSliderBar/_MiniSliderBar';
@import 'content/common/Modal/_Modal';
@import 'content/common/AdjustableSlider/AdjustableSlider';

@import 'content/App';
@import 'content/components/Header/_Header';
@import 'content/components/Content/UserActions/_UserActions';
@import 'content/components/Footer/_Footer';
@import 'content/components/Content/_Content';
@import 'content/components/Content/ModalCollection/_ModalCollections';
@import 'content/components/Content/NutritionConsole/_NutritionConsole';
@import 'content/components/Content/ActionsConsole/_ActionsConsole';
@import 'content/components/Content/ActionsConsole/ActionsHome/_ActionsHome';
@import 'content/components/Content/ActionsConsole/ActionsHome/ActionsButtons/_ActionsButtons';




