/* standard media query variables */
$small-phone-landscape-320px: 320px;
$landscape-phone-and-below-max-width: 480px;
$landscape-phone-to-portrait-tablet-max-width: 767px;
$portrait-tablet-to-landscape-and-desktop-min-width: 768px;
$portrait-tablet-to-landscape-and-desktop-max-width: 1024px;
$large-desktop-min-width: 1200px;

/* iPhone browser fix */
$safari-browser-height: 625px;
$safari-bottom-pad: 60px;

/* iPhone web-app status bar adjust fix*/
$web-app-height-status-bar-iPhone6: 355px;
$web-app-height-iPhone6: 375px;
$web-app-width-iPhone6: 667px;
$web-app-height-status-bar-iPhone6Plus: 394px;
$web-app-height-iPhone6Plus: 414px;
$web-app-width-iPhone6Plus: 736px;


/* color blind safe color palette - see: https://personal.sron.nl/~pault/ */
$gray: #777777;
$red: #EE3333;
$orange: #EE7722;
$yellow: #FFEE33;
$yellow-green: #CCCC55;
$green: #66AA55;
$teal: #11AA99;
$blue: #3366AA;
$purple: #992288;
$white: #FFFFFF;
$black: #222222;

/* fonts */

$header-font: 'carbon';
$regular-font: Arial;
$regular-font-size: 16px;

/* style guide */
$button-fill: $green;
$text-color: $black;
$border-radius: 4px;
$header-height: 60px;
$signed-out-additional-header-height: 25px;
$mobile-header-height: 50px;
$mobile-footer-height: 50px;
$gray-border: 1px solid $gray;
$black-border: 2px solid $black;
$white-border: 2px solid $white;

$nutrition-console-width: 430px;


/* z-indices */
$progress-bar-fill-index: 1;
$progress-bar-inner-fill-index: 2;
$progress-bar-outline-index: 3;
$progress-bar-slider-index: 3;

$header-and-footer-index: 10;
$invisible-div-index: 15;

/* margins */
$modal-mobile-bottom-pad: 17px;